body{

margin:0;

background:#eef2f7;

font-family:Arial;

}

.container{

width:95%;

margin:auto;

padding:30px;

}

.cards{

display:flex;

gap:20px;

flex-wrap:wrap;

margin-bottom:40px;

}

.chartRow{

display:flex;

gap:30px;

flex-wrap:wrap;

margin-top:40px;

}